#ignore all object files
ebtel-2fl*.o
#ignore executable
ebtel-2fl
#ignore data directory
data/
#ignroe analysis directory
analysis/
#ignore IDL procedures
*.pro
#ignore matlab files
*.m
#ignore config/ directory
config/*
#ignore pyc files
*.pyc
