#ignore all object files
ebtel-2fl*.o
#ignore executable
ebtel-2fl
#Ignore all temporary files
*~
#Ignore STD_ERR and STD_OUT from Torque jobs
*.e*
*.o*
#ignore data directory
data/
#ignroe text files
*.txt
#ignore IDL procedures
*.pro
#ignore matlab files
*.m
#ignore xml files (except sample)
*.xml
!config/ebtel-2fl_config.xml
#ignore config/ directory
config/*
#ignore pyc files
*.pyc
#ignore python starter file
bin/ebtel2fl_starter.py
