#ignore all object files
ebtel-2fl*.o
#ignore executable
ebtel-2fl
#ignore data directory
data/
#ignroe analysis directory
analysis/data/
analysis/routines/IDL/
analysis/routines/MATLAB/
#ignore IDL procedures
*.pro
#ignore matlab files
*.m
#ignore config/ directory
config/*
#ignore pyc files
*.pyc
#ignore python starter file
bin/ebtel2fl_starter.py
